@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');


.all {
    background-color: #F9F9F9;

}

.app-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    border-bottom: 2px solid #8D8C8D;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'League Spartan', sans-serif;
    font-size: 80px;
    font-weight: 600;
    color: #98989A;
    line-height: 0.6;
}

.subtitle {
    font-size: 24px;
    color: #565656;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    line-height: 0.6;


}

.completed {
    font-size: 24px;
    margin-bottom: 20px;
    color: #98989A;
    font-family: 'League Spartan', sans-serif;
    font-weight: 350;
    line-height: 0.6;

}

.zombie-sticker {
    float: right;
    width: 200px;
    height: auto;
    margin-left: 20px;
    margin-top: -220px;
}


.bucket-list-columns {
    display: flex;
    justify-content: space-between;
}

.list-column {
    list-style-type: none;
    padding: 0;
    width: 30%;
}

.list-item {
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    margin: 8px 0;
    padding: 4px 0;
    text-align: left;
}


.list-item-completed {
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    margin: 8px 0;
    padding: 4px 0;
    text-align: left;
    color: grey;
    text-decoration: line-through;
}


.columns {
    display: flex;
    gap: 20px;
}

.firstCol {
    flex: 1;
    padding: 30px;
    color: #565656;
}



.secondCol {
    flex: 1;
    border-left: 2px solid #8D8C8D;
    border-right: 2px solid #8D8C8D;
    padding: 30px;
    color: #565656;

}



.thirdCol {
    flex: 1;
    padding: 30px;
    color: #565656;

}